.wrapper {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1.5rem;
    .inner {
        color: white;
        border: 0px;
        cursor: pointer;
        margin-right: 2.7%;
        display: inherit;
        align-items: inherit;
        .icon {
            font-size: 1.8rem;
            margin: 0 0.5rem;
        }
        .title {
            font-size: 1.7rem;
            margin-left: 0.5rem;
        }

        .icon-arrow {
            font-size: 2rem;
        }
    }
}
