@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;600;700&display=swap');
@import 'normalize.css';

:root {
    --primary-color: #fccf00;

    --layout-height-header: 75px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

body {
    font-family: 'Segoe UI';
    font-size: 1.6rem;
}
