
.slick-arrow {
  top: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
  display: flex !important;
  z-index: 100;
  position: absolute;
  box-shadow: 0px 0px 16px rgb(0 0 0 / 25%);
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  background-color: #fafafa;
  align-items: center;
  justify-content: center;
  z-index: 8;

  &:hover {
    color: #000;
    background-color: #fff;
  }

  &::before {
    content: none;
  }
}


.carousel-show {
  height: 427px;
  margin-bottom: 9rem;
  cursor: pointer;

  .slide-image {
    height: 410px;
    width: 100%;
  }
}


.slick-dots {
  bottom: 50px;
  width: 100%;
  margin: 0;
  list-style: none;
  text-align: center;


  li {
    &.slick-active {
      .dots-wrapper {
        .dot {
          background-color: #C89F65;
        }
      }
    }

    .dots-wrapper {
      height: 50px;
      margin-left: -5px;
      margin-right: -5px;

      .dot {
        width: 16px;
        bottom: -15px;
        height: 2px;
        position: absolute;
        background-color: #fff;
      }
    }
  }
}