.card {
  height: 370px;
  border-radius: 1rem;
  width: 100%;
  background-color: #fff;

  &.active {
    border: 4px solid #E85C4A;
  }

  .card-content {
    padding: 0.8rem 1rem 0.8rem 0.8rem;
    position: relative;


    .favorite-icon {
      height: 3rem;
      width: 3rem;
      color: #c89f65;
    }


    .progress {
      display: flex;
      align-items: center;
      justify-content: center;

      .progress-percent {
        position: absolute;
        width: 220px;
      }

      .percent {
        position: absolute;
        right: 10px;
        font-size: 1.4rem;
        bottom: -2px;
        color: #06c167;
        line-height: 2.4rem;
      }
    }


    .card-category {
      color: #fccf00;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 1.3rem;
      margin-bottom: 0;
    }

    .card-title {
      color: #000;
      font-size: 1.9rem;

      text-transform: capitalize;
      font-weight: 700;
      height: 5.2rem;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 2.5rem;
      -webkit-line-clamp: 2;
      display: -webkit-box;
      -webkit-box-orient: vertical;
    }

    .card-description {
      font-size: 1.3rem;
      color: #757575;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 2rem;
      -webkit-line-clamp: 2;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      height: 4rem;
    }

    .card-author {
      color: #000;
      font-size: 1.5rem;
      text-transform: capitalize;
      padding: 10px 0;
      font-weight: 400;
      margin-bottom: 10px;
    }

    .card-course-price {
      display: flex;
      align-items: center;

      &.card-free {
        margin-left: -0.8rem;
        background-color: #addec9;
        display: inline-block;
        padding: 0.5rem 0 0.5rem 1rem;
        width: 160px;
        position: relative;

        &::after {
          content: '';
          position: absolute;
          display: inline-block;
          right: -1.5rem;
          bottom: 0;
          border-right: 1.5rem solid transparent;
          border-top: 1.5rem solid #addec9;
          border-bottom: 1.5rem solid #addec9;
        }

        .card-free-title {
          color: #03703c;
          font-size: 1.4rem;
          font-weight: 600;
        }
      }
    }

    .card-sales-price {
      font-size: 2rem;
      color: #e11800;
      letter-spacing: 0;
      font-weight: 700;
    }

    .card-price {
      font-size: 1.4rem;
      text-decoration: line-through;
      color: #757575;
      margin-left: 0.5rem;
    }
  }
}
