
input[name='payment']:checked + label {
  border: 3px solid #FCCF00 !important;
  background-color: #FEF5CC !important;
}


input ~ label {
  border: 1px solid #E0E0E0 !important;
  background-color: #FFFFFF !important;
}

.payment {
  .title {
    font-size: 4rem;
    margin-top: 1.4rem;
    font-weight: 700;
    line-height: 4rem;
    margin-bottom: 0.4rem;
  }

  .sub-title {
    font-size: 2.2rem;
    margin-bottom: 5rem;
    margin-top: 2rem;
    font-weight: 700;
  }

  .detail-bill {
    background-color: rgba(252, 207, 0, 0.2);
    width: 100%;
    padding: 1.5rem;
    border-radius: 2rem;
  }
}
