.sub-nav {
    .sub-last-item,
    .sub-item {
        text-decoration: none !important;
        font-size: 1.6rem !important;
        color: #fff !important;

        &:hover {
            color: #fff !important;
        }
    }

    .sub-last-item {
        cursor: pointer;
    }

    .next-icon {
        color: #fff !important;
    }
}

.next-icon,
.sub-last-item,
.sub-item {
    text-decoration: none !important;
    font-size: 1.6rem !important;
    color: #fff !important;

    &:hover {
        color: #fff !important;
    }
}

.sub-last-item {
    cursor: pointer;
}
