.category {
    .breadcrumb {
        width: 100%;
        text-align: center;
        margin: 0;
        .image-bg {
            background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%),
                url('https://cdn4.edumall.io/9d0af543-7810-4091-8144-348f42b78523/product/617032ca0e4678002597e0a4');
            padding: 100px 0 80px 0;
            background-size: cover;
            width: 100%;
            background-repeat: no-repeat;

            .title {
                font-size: 3.6rem;
                font-weight: bold;
                color: #fff;
            }

            .des {
                font-size: 2rem;
                color: #fff;
                span {
                    margin: 0;
                    display: block;
                }
            }
        }
    }
}
