.wrapper {
  height: var(--layout-height-header);
  background-color: #212121 !important;
  margin: 0 1rem;

  .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header {
      width: 100%;
      flex: 1;
      display: inherit;
      align-items: inherit;
      height: 80px;


      .my-courses {
        display: flex;
        text-decoration: none;
        color: #ffffff;
        margin-left: auto;
        align-items: center;
        margin-right: 2rem;

        .text {
          font-size: 1.8rem;
        }
      }

      .cart {
        position: relative;
        margin-right: 20px;
        margin-left: 2rem;

        &:hover .cart-content {
          display: block;
        }


        .cart-badge {
        }

        .cart-content {
          &::before {
            content: '';
            position: absolute;
            right: 2px;
            bottom: 100%;
            z-index: 99;
            width: 100%;
            height: 2rem;
          }

          display: none;
          position: absolute;
          padding: 2rem 1rem 1rem;
          right: 0;
          top: 50px;
          background-color: #fff;
          width: 400px;
          min-height: 50px;
          z-index: 98;
          border-radius: 10px;
          box-shadow: 0px 1px 4px #888888;

        }

        .cart-number {
          position: absolute;
          top: -10px;
          right: -10px;
          color: #000;
          background-color: var(--primary-color);
          border-radius: 100%;
          width: 20px;
          height: 20px;
          font-size: 1rem;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      .logo {
        display: inline-block;
        margin: 0 20px;

        .icon {
          color: #fff;
          width: 120px;
          height: 31px;
        }
      }

      .btn-active {
        color: var(--primary-color);
        border: 1px solid var(--primary-color);
        margin: 3rem;
        border-radius: 6px;
        font-size: 1.2rem;

        &:hover {
          color: var(--primary-color);
        }
      }

      .icon {
        color: #fff;
        font-size: 2.2rem;
      }

      .btn {
        font-size: 1.2rem;
        color: #fff;
        font-weight: 300;
      }

      .btn-primary {
        border: 1px solid var(--primary-color);
        margin-left: 0.5rem;
        border-radius: 20px;
      }

      .wrapper-link {
        text-decoration: none;
        padding: 0 1rem;

        button {
          font-size: 1.4rem;
          text-transform: none;
          font-weight: 400;
        }
      }
    }
  }
}
